#headHoverChange:not(:hover) {
  ;
color: blue;
}
h2 {
  color: aqua;
}
table {
  overflow: hidden;
}
td,
th {
  border: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: separate;
  padding: 10px;
  position: relative;
  outline: 0;
}

tr:hover,
td:hover::after,
th:hover::after {
  background-color: lightslategrey;
}
td:hover::after {
  content: "";
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}
.testid:hover {
  border: 1px;
  border-style: dotted;
  border-color: aquamarine;
}